<div class="row">
  <div class="presentation_cadre" id="presentation_cadre">
    <ng-template [ngIf]="isCommuneSelected()" [ngIfElse]="pasDeCommuneSelectionnee">
      <div>
        <h4>{{ commune.nomCommune }} ({{ commune.nomDepartement }} ({{ commune.codeDepartement }}))</h4>

        <small>
          <div>Commune de {{ (commune.population).toLocaleString() }} habitants
            et de {{ (commune.surface / 100.0).toLocaleString() }} km²
            (densité : {{ round(this.getDensitePopulation(),1).toLocaleString() }})</div>
          <div>de l'intercommunalité {{ commune.nomEPCI }}</div>
        </small>
      </div>
    </ng-template>

    <ng-template #pasDeCommuneSelectionnee>
      Les informations sur une commune s'afficheront ici
    </ng-template>
  </div>
</div>
