<div class="container">
  <div class="row">
    <div class="col">
      <app-carte-france></app-carte-france>
    </div>

    <div class="col">
      <div class="row">
        <app-menu></app-menu>
      </div>

      <div class="row">
        <app-presentation></app-presentation>
      </div>

      <div class="row">
        <app-schema></app-schema>
      </div>
    </div>
  </div>
</div>
