<!-- Sélecteur de communes du Code Officiel Géographique -->
<input type="text" class="input-selecteur-commune" list="communesCOG"
   [(ngModel)]="libelleCommuneSelectionnee" (ngModelChange)="selectCommune($event)"
   placeholder="Tapez le nom de la commune">

<datalist id="communesCOG">
  <option *ngFor="let commune of communes" [value]="commune.codeCommune">{{commune.nomCommune}} ({{commune.nomDepartement}})</option>
</datalist>
