
// Label et sélecteur de commune
.label-et-selecteur-commune {
  margin-left: 0.2em;
  margin-top: 0.2em;
}

// Métropole
.carte_metropole {
  height: 40em;
  width: 40em;
  padding: 0;
  margin-left: 1em;
  border: black solid 1px;
}

// Les blocs d'outremer ont des propriétés communes
@mixin carte_outremer {
  height: 8em;
  width: 8em;
  padding: 0;
  border-bottom: black solid 1px;
  border-left: black solid 1px;
}

// Guadeloupe (bloc le plus à gauche)
.carte_guadeloupe {
  @include carte_outremer;
  margin-left: 1em;
}

// Martinique, Guyane, La Réunion (blocs centraux)
.carte_martinique, .carte_guyane, .carte_la_reunion {
  @include carte_outremer;
}

// Mayotte (bloc le plus à droite)
.carte_mayotte {
  @include carte_outremer;
  border-right: black solid 1px;
}
