<form class="d-flex label-et-selecteur-commune">
  <label class="form-label label-selection-commune" for="communes">Commune :</label>
  <app-communes id="communes" anneeCOG="{{environment.anneeCog}}"></app-communes>
</form>

<div class="row">
  <div class="carte_metropole" id="carte_metropole" ></div>
</div>

<div class="row">
  <div class="carte_guadeloupe" id="carte_guadeloupe" ></div>
  <div class="carte_martinique" id="carte_martinique" ></div>
  <div class="carte_guyane" id="carte_guyane" ></div>
  <div class="carte_la_reunion" id="carte_la_reunion" ></div>
  <div class="carte_mayotte" id="carte_mayotte" ></div>
</div>

<div *ngFor="let region of regions;">
  <app-carte [id] = "environment[region + '_id']"
    [nom]="environment[region + '_nom']"
    [url_couche] = "environment[region + '_couche_url']"
    [layer_couche] = "environment[region + '_couche_layer']"
    [longitude] = "environment[region + '_longitude_initale']"
    [latitude] = "environment[region + '_latitude_initale']"
    [zoom] = "environment[region + '_zoom']"
    [zoom_focus] = "environment[region + '_zoom_focus']"
    [projection] = "environment[region + '_projection']"
    [filtre_region]="environment[region + '_filtre_region']">
  </app-carte>
</div>
